h1 {
    color: rebeccapurple;
    text-align: center;
}
h2 {
    color: rgb(70, 8, 105);
    text-align: center;
h6 {
    color: aqua;
}
.comicsans {
    font-family: sans-serif
}
img {
}
#grad {
    background-image: linear-gradient(red, yellow);
  }